{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_content %}
<div class="container">
    <div class="content-section">
    <div class="container">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Edit Post</legend>
        {{u_form.media}}
        {{u_form | crispy }}
        
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-success" type="submit">Post</button>
      </div>
    </form>
    </div>
    
  </div>
  </div>

  
{% endblock page_content %}
